
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout/layouts :: head"></head>
</head>

<body>

<nav th:replace="/layout/layouts :: navbarTop"></nav>

<div class="container">
    <h3>Projects Directory</h3>
    <hr>

    <!--  Add New Project Button -->
    <a th:href="@{/project/new}"
       class="btn btn-primary btn-sm mb-3">
        New Project
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projects}">
            <td th:text="${aProject.name}"/>
            <td th:text="${aProject.stage}"/>
            <td>
                <a th:href="@{/project/update(id=${aProject.id})}" class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/project/delete(id=${aProject.id})}" class="btn btn-danger btn-sm" onClick="if (!(confirm('Are you sure?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>