<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="/layout/layouts :: head"></head>

<body>

<nav th:replace="/layout/layouts :: navbarTop"></nav>

<div class="container">
    <form action="/project/save" th:object="${project}" method="POST">

        <input type="hidden" th:field="${project.id}"> <!-- for binding -->

        <input type="text" placeholder="Project Name" th:field="*{name}">

        <select th:field="${project.stage}">
            <option th:value="NOTSTARTED"> Not Started</option>
            <option th:value="INPROGRESS"> In Progress</option>
            <option th:value="COMPLETED"> Completed</option>
        </select>

        <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>

        <select th:field="*{employees}" multiple="multiple">
            <option th:each="employee : ${allEmployees}"
                    th:value="${employee.id}"
                    th:text="${employee.fname}"></option>
        </select>
<!--                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />-->

        <button type="submit">Create Project</button>

    </form>
</div>

</body>

</html>