<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout/layouts :: head"></head>

<body>
<nav th:replace="/layout/layouts :: navbarTop"></nav>

<div class="container">
    <form action="/employee/save" th:object="${employee}" method="POST">
<!--        This hidden input will be used to bind to the employee that was clicked on (used for updates) if you dont use hidden input it wil create a new one-->
        <input type="hidden" th:field="${employee.id}">

        <input type="text" placeholder="First Name" th:field="${employee.fname}">
        <input type="text" placeholder="Last Name" th:field="${employee.lname}">
        <input type="text" placeholder="E-Mail" th:field="${employee.email}">
        <button type="submit">Create Employee</button>
    </form>
</div>

</body>

</html>